footer {
  background-color: #4560A6;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  bottom: 0;
  height: (100% - 100px);
  display: flex;
  /* position:absolute; */
}

  
  .footer-content {
    font-size: 14px;
  }
  